name: Build and Deploy AMIs

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::736548753645:role/GithubRole
          aws-region: us-east-1
      - uses: actions/checkout@v3
      - name: Packer Init
        run: packer init .
      - name: Packer Build
        run: packer build .

  cleanup_resources:
    runs-on: ubuntu-latest
    needs: build_and_deploy
    if: always()  # Run this job always, regardless of the status of previous jobs
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::736548753645:role/GithubRole
          aws-region: us-east-1
      - name: Cleanup Resources
        env:
          INSTANCE_ID: ${{ env.INSTANCE_ID }}
          SECURITY_GROUP_ID: ${{ env.SECURITY_GROUP_ID }}
          KEY_PAIR_NAME: ${{ env.KEY_PAIR_NAME }}
        run: |
          echo "will terminate the resources here..."
          instance_id=$INSTANCE_ID
          echo "instance id - $instance_id"
        
